/* Google字体链接 */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


/* 渐变背景 */
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(-45deg, #ee7752, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

/* 渐变背景动画 */
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: white;
    font-family: 'Roboto'; /* 新添加的行 */
}

.site-title {
    margin: 0;
}

/* 定义搜索框的默认样式 */
#search-bar {
    width: 200px;
    height: 20px;
    padding: 5px;
    left: 50px;
    border: none;
    border-radius: 10px;
    transition: width 0.5s ease; /* 用于定义宽度变化的过渡效果 */
    margin-right: auto;  /* 让搜索框保持在右侧 */
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.7);
}

/* 定义搜索框获得焦点时的样式 */
#search-bar:focus {
    width: 300px; /* 搜索框焦点时宽度增加50% */
    outline: none;
}

nav ul {
    font-size: 1em;
    padding: 0;
    list-style: none;
    display: flex;
}

nav ul li a {
    display: inline-block; /* 修改这一行 */
    padding: 0 10px;
    color: #333;
    text-decoration: none;
    transition: color 0.5s ease, transform 0.3s ease;
    font-family: 'Lobster', cursive; /* 新添加的行 */
}

.nav-wrapper {
    display: flex;
    justify-content: center;
    position: relative;
    right: 100px; /* 根据需要调整偏移量 */
}

nav ul li {
    display: inline-block;
    background: transparent;
    margin: 10px;
    padding: 5px 1px;
    border-radius: 10px;
    transition: background 0.5s ease, box-shadow 0.5s ease;
    margin-left: 2px;
}

nav ul li .sub-menu {
    /*display: block;*/
    position: absolute;
    top: 100%;
    left: 0;
    transition: opacity 0.5s ease;
    flex-direction: column;  /* 新增这行代码，让二级主题在横向排列 */
}

nav ul li .sub-menu li {
    margin: 2px;
    padding: 10px 5px;
    background: transparent;
    /* 使二级主题的字体变小 */
    font-size: 0.5em;
    width:100px;
}

nav ul li .sub-menu li a {
    color: #00E3E3;
    /*font-family: 'Lobster', cursive; /* 新添加的行 */*/
}


nav ul li:hover {
    /* ...保留你之前定义的其他样式... */
    /*background: rgba(255, 255, 255, 0.7);*/
    background: transparent;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    
    /* 添加新的样式 */
    transform: scale(1.1);
}

nav ul li:hover a {
    color: #007979;
    transform: scale(1.1); /* 添加鼠标悬停时的放大效果 */
}

nav ul li:hover .sub-menu {
    display: flex;  /* 这行代码的意思是，在鼠标悬停在一级主题时，显示二级主题 */
}


nav ul ul {
    display: none;
}

nav ul li:hover ul {
    display: block;
}

nav ul li .line {
  position: relative;
  bottom: -5px;;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #66FFFF;
  transition: all 0.5s ease;
  transform: translateX(-50%);
}

nav ul li:hover .line {
  width: 100%;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

#gallery {
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 100%;
}

#gallery img {
    width: 18%;
    margin: 10px;
}

.gallery-image {
    width: 18%;
    margin: 10px;
    animation: fadeIn 1s ease-in-out;
    transition: transform 0.3s ease; /* 添加过渡效果 */
}

.gallery-image:hover {
    transform: scale(1.03);
    transition: transform 0.3s ease;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px; /* 根据需要调整底部栏的高度 */
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}

.footer-container {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background: #f1f1f1;  /* 和footer背景颜色一致 */
}

.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding-bottom: 70px; /* 为footer腾出空间 */
}

.pagination-container button {
    width: 60px;
    height: 40px;
    font-size: 18px;
    border-radius: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    margin: 0 10px;
    cursor: pointer;
}

.zoomed-in {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -10%) scale(1.5); /* 放大1.5倍 */
    z-index: 999; 
    transition: transform 0.3s ease; /* 添加过渡效果 */
}




