/* Google字体链接 */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Hind&family=Ubuntu&display=swap');



/* 渐变背景 */
/*body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(-45deg, #ee7752, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}*/

body {
    margin: 0;
    padding: 0;
    background: #f1f1f1;
}

/* 渐变背景动画 */
/*@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}*/

.logo {
  height: 45px; /* 调整logo的高度 */
  margin-right: -400px; /* 在logo右边添加一些空间 */
  margin-left: 60px;
  border-radius: 50%;
  transition: transform 2s;
}

.logo:hover {
  transform: rotate(360deg);  /* 顺时针旋转360度 */
}

header {
    /*width: 00px;*/
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #CB5747;
}

.title-container {
    position: absolute;  /*设置为绝对定位*/
    left: 140px;
    top: 12px;
    color: #F5DDDA;
}

.site-title {
    margin: 0;
    font-family: 'Roboto'; /* 新添加的行 */
    font-size: 1.5em;
}

/* 定义搜索框的默认样式 */
#search-bar {
    /*padding-left: 20px;*/
    width: 200px;
    height: 20px;
    padding: 5px;
    left: 50px;
    border: none;
    border-radius: 50px;
    transition: width 0.5s ease; /* 用于定义宽度变化的过渡效果 */
    margin-top: 7px;
    margin-right: 20px;
    color: #FFFFFF;
    background-color: #A24639;
}

/* 定义搜索框获得焦点时的样式 */
#search-bar:focus {
    width: 250px; /* 搜索框焦点时宽度增加50% */
    outline: none;
}

#search-bar::placeholder {
    color: white;
}

.icon-search {
    position: relative;
    z-index: 1;
    display: inline-block;
    width: 13px;
    height: 13px;
    margin: 2px 0 0 3px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    color: white;
    border: solid 2px currentColor;
    border-radius: 50%;
    left: 80px;
    top: 10px;
}

/*.icon-search:before {
    position: absolute;
    top: 11px;
    left: 3px;
    width: 2px;
    height: 4px;
    content: '';
    background-color: currentColor;
}*/

nav ul {
    font-size: 1em;
    padding: 0;
    list-style: none;
    display: flex;
}

nav ul li a {
    display: inline-block; /* 修改这一行 */
    padding: 0 10px;
    color: #F5DDDA;
    text-decoration: none;
    transition: color 0.5s ease, transform 0.3s ease;
    font-family: 'Ubuntu'; /* 新添加的行 */
}

.nav-wrapper {
    display: flex;
    justify-content: center;
    position: relative;
    right: 100px; /* 根据需要调整偏移量 */
}

nav ul li {
    display: inline-block;
    background: transparent;
    margin: 5px;
    padding: 5px 1px;
    border-radius: 10px;
    transition: background 0.5s ease, box-shadow 0.5s ease;
    margin-left: 2px;
}

nav ul li .sub-menu {
    /*display: block;*/
    position: absolute;
    top: 100%;
    left: 0;
    transition: opacity 0.5s ease;
    flex-direction: column;  /* 新增这行代码，让二级主题在横向排列 */
}

nav ul li .sub-menu li {
    margin: 2px;
    padding: 10px 5px;
    background: transparent;
    /* 使二级主题的字体变小 */
    font-size: 0.5em;
    width:100px;
}

nav ul li .sub-menu li a {
    color: black;
    /*font-family: 'Lobster', cursive; /* 新添加的行 */*/
}


nav ul li:hover {
    /* ...保留你之前定义的其他样式... */
    /*background: rgba(255, 255, 255, 0.7);*/
    background: transparent;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    
    /* 添加新的样式 */
    transform: scale(1.1);
}

nav ul li:hover a {
    color: #007979;
    transform: scale(1.1); /* 添加鼠标悬停时的放大效果 */
}

nav ul li:hover .sub-menu {
    display: flex;  /* 这行代码的意思是，在鼠标悬停在一级主题时，显示二级主题 */
}


nav ul ul {
    display: none;
}

nav ul li:hover ul {
    display: block;
}

nav ul li .line {
  position: relative;
  bottom: -5px;;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #66FFFF;
  transition: all 0.5s ease;
  transform: translateX(-50%);
}

nav ul li:hover .line {
  width: 100%;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

#gallery {
    /*display: flex;*/
    /*justify-content: center;*/
    /*overflow: hidden;*/
    margin-top: 50px;
    width: 100%;
}

#gallery img {
    width: 18%;
    margin: 10px;
}

.gallery-image {
    /*margin-top: 100px;*/
    width: 18%;
    margin: 10px;
    animation: fadeIn 1s ease-in-out;
    transition: transform 0.3s ease; /* 添加过渡效果 */
}

.gallery-image:hover {
    transform: scale(1.03);
    transition: transform 0.3s ease;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px; /* 根据需要调整底部栏的高度 */
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}

.footer-container {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background: #f1f1f1;  /* 和footer背景颜色一致 */
}

.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding-bottom: 70px; /* 为footer腾出空间 */
}

.pagination-container button {
    width: 60px;
    height: 40px;
    font-size: 18px;
    border-radius: 20px;
    background-color: #CB5747;
    color: #fff;
    border: none;
    margin: 0 10px;
    cursor: pointer;
}

.zoomed-in {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -10%) scale(1.5); /* 放大1.5倍 */
    z-index: 999; 
    transition: transform 0.3s ease; /* 添加过渡效果 */
}

.flip {
    display: inline-block;
    position: relative;
    width: 100px;
    height: 180px;
    line-height: 180px;
    border: solid 1px #CB5747;
    border-radius: 10px;
    background: #fff;
    font-size: 150px;
    color: #fff;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    text-align: center;
    font-family: "Helvetica Neue"
}

.flip .digital:before,
.flip .digital:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    background: #CB5747;
    overflow: hidden;
    box-sizing: border-box;
}

.flip .digital:before {
    top: 0;
    bottom: 50%;
    border-radius: 10px 10px 0 0;
    border-bottom: solid 1px #666;
}

.flip .digital:after {
    top: 50%;
    bottom: 0;
    border-radius: 0 0 10px 10px;
    line-height: 0;
}

/*向下翻*/
.flip.down .front:before {
    z-index: 3;
}

.flip.down .back:after {
    z-index: 2;
    transform-origin: 50% 0%;
    transform: perspective(160px) rotateX(180deg);
}

.flip.down .front:after,
.flip.down .back:before {
    z-index: 1;
}

.flip.down.go .front:before {
    transform-origin: 50% 100%;
    animation: frontFlipDown 0.6s ease-in-out both;
    box-shadow: 0 -2px 6px rgba(255, 255, 255, 0.3);
    backface-visibility: hidden;
}

.flip.down.go .back:after {
    animation: backFlipDown 0.6s ease-in-out both;
}

/*向上翻*/
.flip.up .front:after {
    z-index: 3;
}

.flip.up .back:before {
    z-index: 2;
    transform-origin: 50% 100%;
    transform: perspective(160px) rotateX(-180deg);
}

.flip.up .front:before,
.flip.up .back:after {
    z-index: 1;
}

.flip.up.go .front:after {
    transform-origin: 50% 0;
    animation: frontFlipUp 0.6s ease-in-out both;
    box-shadow: 0 2px 6px rgba(255, 255, 255, 0.3);
    backface-visibility: hidden;
}

.flip.up.go .back:before {
    animation: backFlipUp 0.6s ease-in-out both;
}

@keyframes frontFlipDown {
    0% {
        transform: perspective(160px) rotateX(0deg);
    }

    100% {
        transform: perspective(160px) rotateX(-180deg);
    }
}

@keyframes backFlipDown {
    0% {
        transform: perspective(160px) rotateX(180deg);
    }

    100% {
        transform: perspective(160px) rotateX(0deg);
    }
}


@keyframes frontFlipUp {
    0% {
        transform: perspective(160px) rotateX(0deg);
    }

    100% {
        transform: perspective(160px) rotateX(180deg);
    }
}

@keyframes backFlipUp {
    0% {
        transform: perspective(160px) rotateX(-180deg);
    }

    100% {
        transform: perspective(160px) rotateX(0deg);
    }
}

.flip .number0:before,
.flip .number0:after {
    content: "0";
}

.flip .number1:before,
.flip .number1:after {
    content: "1";
}

.flip .number2:before,
.flip .number2:after {
    content: "2";
}

.flip .number3:before,
.flip .number3:after {
    content: "3";
}

.flip .number4:before,
.flip .number4:after {
    content: "4";
}

.flip .number5:before,
.flip .number5:after {
    content: "5";
}

.flip .number6:before,
.flip .number6:after {
    content: "6";
}

.flip .number7:before,
.flip .number7:after {
    content: "7";
}

.flip .number8:before,
.flip .number8:after {
    content: "8";
}

.flip .number9:before,
.flip .number9:after {
    content: "9";
}

.clock {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 100px;
}

.clock em {
    color: #CB5747;
    display: inline-block;
    line-height: 150px;
    font-size: 120px;
    font-style: normal;
    vertical-align: top;
}

.swiper-list{
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateY(100px);
    overflow: hidden;
    border: 1px solid #eee;
    padding: 30px 0;
}

.swiper-main{
    height: 100%;
    position: relative;
}
.swiper-main img{
    height: 100%;
    display: block;
    position: absolute;
    top: 0px;
    border-radius: 4px;
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    z-index: 1002;
}
.leftBtn{
    left: 0px;
}
.rightBtn{
    right: 0px;
}

.center {
    display: flex;
    justify-content: center;
    position: absolute;  /* 设置为绝对定位 */
    top: 2px;  /* 从顶部开始定位，距离为50px */
    width: 100%;  /* 宽度设置为100%，确保文字始终在屏幕中间 */
}

.artistic-font {
    font-family: 'Dancing Script', cursive;
    font-size: 10em;
    color: #CB5747;
}


